<!DOCTYPE html>
<html>
  <head>
    <title>Code Fellows Contact Manager</title>

    <!-- Bring In jQuery -->
    
    <script src="https://raw.github.com/wycats/handlebars.js/1.0.0/dist/handlebars.js" type="text/javascript"></script>

    <script src='/bower_components/jquery/jquery.js'></script>
    <script src='/bower_components/raphael/raphael.js'></script>

    <!-- Bring In Bootstrap -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">


    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Application Styles and Scripts -->
    <link rel="stylesheet" href="/jsbootcamp.css">
    <script src="/contactlist.js"></script>
    <script>
      
      function sortResults(array, prop, asc) {
        array = array.sort(function(a, b) {
            if (asc) return (a[prop] > b[prop]) ? 1 : ((a[prop] < b[prop]) ? -1 : 0);
            else return (b[prop] > a[prop]) ? 1 : ((b[prop] < a[prop]) ? -1 : 0);
        });
      }

      
 
    
      $(document).ready(function() {
        makeContactRowClickable();
        $.getJSON( "gjson", function(data) {
          sortResults (data, "firstName", true);
          

          var source   = $("#sort-template").html();
          var template = Handlebars.compile(source);
          $("body").append( template(data));


          console.log("success");
          console.log(data[1].lastName);
        });
        
      });
    </script>
    <script id="sort-template" type="text/x-handlebars-template">
       {{#each .}}
          
          <ul data-contact-guid="{{guid}}">
            <li>{{lastName}}</li>
            <li>{{firstName}}</li>
            <li>{{nickname}}</li>
            <li>{{company}}</li>
          </ul>
         
      {{/each}}
    </script>

  </head>

  <body>
    <div id='header'>
      <h1>Code Fellows Contact Manager</h1>
    </div>
    <form action='/contactSearch' method='post'>
      <input class='find' type='text' name='term'  />
      
      <select name='condition'>
        <option value='lastName'>Last Name</option>
        <option value='firstName'>First Name</option>
        <option value='nickname'>Nickname</option>
        <option value='company'>Company</option>
      </select>
      <input class='submit' type='submit' value='Find'  />

    </form>
    <a href = '/addPage'>Add customer</a>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Last Name<i class="fa fa-wheelchair"></i></th>
          <th>First Name<i class="fa fa-wheelchair"></i></th>
          <th>Nickname<i class="fa fa-wheelchair"></i></th>
          <th>Company<i class="fa fa-wheelchair"></i></th>
        </tr>
      <thead>

      <tbody>
        

      </tbody>
    </table>
    <div id="tester">
    </div>
  </body>
</html>
